<ol class="breadcrumb">
    <li class="breadcrumb-item">YOU ARE HERE</li>
    <li class="active breadcrumb-item" [routerLink]="['/app/users']">Users</li>
    <li class="active breadcrumb-item" [routerLink]="['/app/users/detail/', user._id]">{{user.username}}</li>
</ol>
<h1 class="page-title">Edit - <span class="fw-semi-bold">User</span></h1>
<section class="widget" widget id="autoload-widget"
         data-widgster-load="assets/demo/grid/autoload.php"
         data-post-processing="true"
         data-widgster-autoload="false"
         data-widgster-show-loader="false">
    <header></header>
    <div class="widget-body">
        <form class="user-form mt-lg" role="form" #userForm="ngForm" novalidate>
            <div class="row">
                <div class="col-lg-6 col-xs-12">
                    <div class="form-group">
                        <label for="username">User Name</label>
                        <input type="email"
                               class="form-control"
                               id="username"
                               name="username"
                               placeholder="Username (E-mail Address)"
                               [(ngModel)]="user.username" required
                               pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$"
                               required>
                        <ul class="validation-errors-list filled"
                            *ngFor="let err of formErrors.username">
                            <li class="validation-type">{{ err }}</li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <label for="role">Role</label>
                        <select class="form-control selectpicker"
                                data-style="btn-danger btn-sm"
                                data-width="auto"
                                tabindex="-1" id="simple-red-select"
                                id="role"
                                name="role"
                                [(ngModel)]="user.role"
                                required>
                            <option value=""></option>
                            <option value="Administrator">Administrator</option>
                            <option value="Supervisor">Supervisor</option>
                            <option value="Contributor">Contributor</option>
                            <option value="Inactive">Inactive</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-6 col-xs-12">
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input class="form-control"
                               type="text"
                               id="firstName"
                               name="firstName"
                               placeholder="First Name"
                               [(ngModel)]="user.firstName"
                               required>
                        <ul class="validation-errors-list filled"
                            *ngFor="let err of formErrors.firstName">
                            <li class="validation-type">{{ err }}</li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input class="form-control"
                               type="text" name="lastName"
                               placeholder="Last Name"
                               [(ngModel)]="user.lastName"
                               required>
                        <ul class="validation-errors-list filled"
                            *ngFor="let err of formErrors.lastName">
                            <li class="validation-type">{{ err }}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-xs-12">
                    <!--<div class="form-group">-->
                    <!--<input class="form-control" type="password" name="confirmPassword"-->
                    <!--placeholder="Confirm Password" [(ngModel)]="user.confirmPassword"-->
                    <!--validateEqual="password">-->
                    <!--<ul class="validation-errors-list filled"-->
                    <!--*ngFor="let err of formErrors.confirmPassword">-->
                    <!--<li class="validation-type">{{ err }}</li>-->
                    <!--</ul>-->
                    <!--</div>-->
                </div>
            </div>
            <div class="clearfix">
                <div class="btn-toolbar pull-xs-right m-t-1">
                    <button class="btn btn-secondary btn-sm" (click)="goToDetail($event)">Cancel
                    </button>
                    <button type="submit" class="btn btn-inverse btn-sm"
                            (click)="updateUser(userForm.valid, userForm.value)"
                            [disabled]="!userForm.valid">Save
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>