<div panel-widget class="tfc-panel" [collapsed]="collapsed">
    <div class="widget-container">
        <section class="widget" widget id="panel-widget">
            <header>
                <h6 data-widgster="collapse">
                    <span *ngIf="iconClass && iconClass.length" class="tag tag-primary tfc-panel-icon">
                        <i class="fa" [ngClass]="iconClass"></i></span>
                    <span class="fw-semi-bold">{{title}}</span>
                </h6>
                <h6 data-widgster="expand">
                    <span *ngIf="iconClass && iconClass.length" class="tag tag-primary tfc-panel-icon">
                        <i class="fa" [ngClass]="iconClass"></i></span>
                    <span class="fw-semi-bold">{{title}}</span>
                </h6>
                <div>
                    <div class="widget-controls">
                        <span [hidden]="!showDropdown" class="dropdown" data-dropdown data-ng-init="isOpen = false"
                              data-is-open="isOpen">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bars"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li *ngFor="let menuItem of menu; let last = last">
                                    <a class="dropdown-item" (click)="menuItem.onMenuSelect()">{{menuItem.title}}</a>
                                    <div *ngIf="!last" class="dropdown-divider"></div>
                                </li>
                            </ul>
                        </span>
                        <a [hidden]="!showReload" data-gster="load" title="Reload" href="#"><i
                                class="fa fa-refresh"></i></a>
                        <a [hidden]="!collapsible" data-widgster="expand" title="Expand" href="#">
                            <i class="glyphicon glyphicon-chevron-up" ></i></a>
                        <a [hidden]="!collapsible" data-widgster="collapse" title="Collapse" href="#"><i
                                class="glyphicon glyphicon-chevron-down"></i></a>
                        <a [hidden]="!showFullscreen" data-widgster="fullscreen" title="Full Screen" href="#"><i
                                class="glyphicon glyphicon-fullscreen"></i></a>
                        <a data-widgster="restore" title="Restore" href="#"><i
                                class="glyphicon glyphicon-resize-small"></i></a>
                        <a *ngIf="showClose" data-widgster="close" title="Close" href="#"><i
                                class="glyphicon glyphicon-remove"></i></a>
                    </div>
                </div>
            </header>
            <div class="widget-body no-padding">
                <div class="tfc-panel-collapsible-spacer"></div>
                <ng-content></ng-content>
            </div>
        </section>
    </div>
</div>
