<div panel-widget>
    <div class="widget-container">
        <section class="widget" widget id="panel-widget"
                 data-widgster-load="assets/demo/grid/shares.php"
                 data-post-processing="true">
            <header>
                <h6>
                    <span class="tag tag-primary"><i class="glyphicon" [ngClass]="config.header.icon"></i></span> &nbsp;
                    <span data-widgster="collapse" class="fw-semi-bold">{{config.header.title}}</span>
                    <span data-widgster="expand" class="fw-semi-bold">{{config.header.title}}</span>
                </h6>
                <div class="widget-controls">
                    <a *ngIf="config.display.load" data-widgster="load" title="Reload" href="#"><i
                            class="fa fa-refresh"></i></a>
                    <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                    <a data-widgster="collapse" title="Collapse" href="#"><i
                            class="glyphicon glyphicon-chevron-down"></i></a>
                    <a data-widgster="fullscreen" title="Full Screen" href="#"><i
                            class="glyphicon glyphicon-fullscreen"></i></a>
                    <a data-widgster="restore" title="Restore" href="#"><i class="glyphicon glyphicon-resize-small"></i></a>
                    <a *ngIf="config.display.close" data-widgster="close" title="Close" href="#"><i
                            class="glyphicon glyphicon-remove"></i></a>
                </div>
            </header>
            <div class="widget-body no-padding">
                <div class="list-group list-group-lg">
                    <ng-content></ng-content>
                </div>
            </div>
        </section>
    </div>
</div>
