@import "../../scss/variables";
@import "../../../../node_modules/bootstrap/scss/_variables";
@import "../../../../node_modules/bootstrap/scss/mixins";


.tfc-cmp-panel-icon {
  margin-right: 10px;
}

.tfc-cmp-panel-collapsible-spacer{
    padding: 5px 20px;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    background-color: $body-bg;

    @include clearfix();

    .thumb{
      margin-left: 10px;
    }
}

.tfc-cmp-panel-collapsible .widget-body {
    border-left: 10px solid $body-bg;
}

.tfc-cmp-panel-collapsible-spacer {
  display: none;
}

.tfc-cmp-panel-collapsible .tfc-cmp-panel-collapsible-spacer {
    display: block;
}