<modal #servicesModal>
    <modal-header>
        <h5 class="modal-title text-xs-center fw-bold mt" id="servicesModalTitle">{{config.title}}</h5>
        <p class="text-xs-center fs-mini text-muted mt-sm">
            {{config.subTitle}}
        </p>
    </modal-header>
    <modal-content>
        <p class="modal-title text-xs-center fw-bold mt" id="servicesModalContent">{{config.content}}</p>
        <p class="text-xs-center fs-mini mt-sm">
            {{config.subContent}}
        </p>
        <form role="form" #servicesModalForm="ngForm" novalidate>
            <div class="form-group row">
                <div class="col-xs-12">
                    <select [(ngModel)]="selectedServices"
                            class="form-control"
                            style="overflow-x:scroll"
                            tabindex="-1"
                            id="selectedServices"
                            name="selectedServices"
                            multiple>
                        <option value="" selected disabled>- Select services</option>
                        <option *ngFor="let service of config.services" value="{{service._id}}">{{service.name}}</option>
                    </select>
                </div>
            </div>
        </form>
    </modal-content>
    <modal-footer>
        <div class="clearfix">
            <div class="btn-toolbar pull-xs-right">
                <button *ngFor="let button of config.buttons" type="button" [class]="button.class"
                        (click)="button['onClick']()">{{button.title}}
                </button>
            </div>
        </div>
    </modal-footer>
</modal>
